keras
Keras-Applications
Keras-Preprocessing
matplotlib
numpy
PyYAML
scikit-learn
librosa
audioread
setuptools
tensorflow
tqdm
pandas
ujson
resampy
scipy
opencv-python
Pillow
six
requests
h5py
seaborn
SoundFile
dtw
pykalman
ipython
tftb